
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* custom body styles: */

body {
  font-family: 'Ubuntu Mono', 'Segoe UI', roboto, 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

/* LINK STYLES */
a {
  color: rgb(255, 152, 0);
  transition: color 200ms linear;
  text-decoration: underline;
}

a:hover {
  color: #f6a740;
}

/* HEADER STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .3em 0;
  padding: 0;
  line-height: 1.3em;
  font-family: 'Ubuntu Condensed';
}

h1 {
  font-size: 2.5em;

}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

/* FORM */
form fieldset {
  border: 0 none;
}

form legend {
  margin: 0 0 .5rem;
}

form label {
  margin: 1rem 0 .3rem;
}

form input,
form textarea {
  border-color: rgb(255, 152, 0);
  border-radius: .5rem;
  border-style: outset;
  border-width: 2px;
  font-family: inherit;
  font-size: 1em;
  padding: 1.5rem;
}

form textarea {
  max-width: 100%;
}


/* BUTTON */

button,
input[type=button],
input[type=submit] {
  background-color: rgb(255, 152, 0);
  background-image: none;
  border-color: rgb(239, 108, 0);
  border-radius: .5rem;
  border-style: solid;
  border-width: 1px;
  color: #fff !important; /* important because bootstrap */
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.42857143;
  margin: 1rem 0;
  padding: 1.5rem;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 200ms linear, border-color 200ms linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background-color: rgb(239, 108, 0);
  border-color: rgb(230, 81, 0);
}


button[disabled],
input[type=button][disabled],
input[type=submit][disabled] {
  background-color: rgb(230, 81, 0);
}

/* LIST */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ul li,
button,
input[type=button],
input[type=submit] {
  width: 100%;
}
