{{#if !medList || !medList.length}}
  <div>
    <p>No Meds added yet.</p>

    <p>
      Medications you enter will be saved in the localstorage of your device.
    </p>
    <p>
      NO data gets stored on any servers.
      Which also means that your data is lost if you lose the device.
      See the about page for more info.
    </p>
  </div>
{{else}}
<ul class='list'>
  <lh>
    <ul>
      <ListHeader
        on:sort='sort(event)'
        sortBy={{ sortBy }}
        text='Name:'
        value='name'
      />
      <ListHeader
        on:sort='sort(event)'
        sortBy={{ sortBy }}
        text='Dosage:'
        value='dosage'
      />

      <ListHeader
        on:sort='sort(event)'
        sortBy={{ sortBy }}
        text='Per Day:'
        value='daily'
      />
      <ListHeader
        on:sort='sort(event)'
        sortBy={{ sortBy }}
        text='Store:'
        value='store'
      />
      <ListHeader
        on:sort='sort(event)'
        sortBy={{ sortBy }}
        text='Remaining:'
        value='remaining'
      />
      <li></li>
      <li></li>
    </ul>
  </lh>
  {{#each medList as med}}
    {{#if med}}
      <li class='list__item'>
        <form class='form' on:submit='save(event)'>
          <ul>
            {{#if editing !== med.name }}
              <li>{{ med.name }}</li>
              <li>{{ med.dosage}}mg</li>
              <li>{{ med.daily }}</li>
              <li>{{ med.store }}</li>
              <li class='{{ med.remaining < 8 ? "red" : "" }}'>
                {{ med.remaining }}
              </li>
              <li>
                <button
                  class='btn'
                  on:click='edit(med.name)'
                  type='button'
                >
                  Edit
                </button>
              </li>
            {{else}}
              <li>
                <input
                  placeholder='Name'
                  ref:name
                  type='text'
                  value={{ med.name }}
                />
              </li>
              <li>
                <input
                  placeholder='Dosage'
                  ref:dosage
                  type='number'
                  value={{ med.dosage }}
                />
              </li>
              <li>
                <input
                  placeholder='Daily'
                  ref:daily
                  type='number'
                  value={{ med.daily }}
                />
              </li>
              <li>
                <input
                  placeholder='Pills in Store'
                  ref:store
                  type='number'
                  value={{ med.store }}
                />
              </li>
              <li>
                {{ med.remaining }}
              </li>

              <li>
                <input class='btn' type='submit' value='Save' />
              </li>
            {{/if}}

            <li>
              <button
                class='btn'
                type='button'
                on:click='fire("removeMed", med.name)'
              >
                X
              </button>
            </li>
          </ul>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>
{{/if}}

<script>
  import ListHeader from './list-header'
  import { merge, dynamicSort } from '../utils'

  export default {
    data:
      () => ({
        editing: null,
        remaining: 0,
      }),

    computed: {
      medList: (meds, sortBy) => {
        const medKeys = Object.keys(meds)
        const medList = Array.from(medKeys, m => meds[m])
          .sort(dynamicSort(sortBy))

        return medList
      },
    },

    methods: {
      sort(property) {
        const sortBy = this.get('sortBy')
        if (sortBy === property) {
          if (sortBy[0] === '-') {
            property = property.substr(1)
          } else {
            property = '-' + property
          }
        }

        this.fire('updateState', { meds: { sortBy: property } })
      },

      calculateRemaining(field) {
        const { store, daily } = this.refs

        this.set({ remaining: Math.floor(store.value / daily.value) })
      },

      save(event) {
        event.preventDefault()

        const { name, dosage, daily, store } = this.refs

        const med = {
          name: name.value,
          dosage: dosage.value,
          daily: daily.value,
          store: store.value,
          remaining: Math.floor(store.value / daily.value),
        }

        this.fire('addMed', { med })
        this.set({ editing: null })
      },

      edit(name) {
        this.set({ editing: name })
      },
    },
    components: {
      ListHeader,
    }
  }
</script>

<style>
  .list {
    display: flex;
    flex-direction: column;
  }

  .list__item {
    display: flex;
  }

  .form {
    width: 100%;
  }

  .form input {
    padding: .5rem;
  }

  .list ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid
  }
  .list button {
    padding: .5rem;
  }

  .red {
    color: #ff0000;
  }

  .delete {
    background-color: rgb(255, 0, 0);
  }
</style>
